<!-- borrowed_books.html.erb -->
<h1>Your Borrowed Books</h1>

<div class="borrowed-books-list">
  <% @borrowed_books.each do |book| %>
    <div class="borrowed-book-item">
      <div class="book-info">
        <strong><%= book.title %></strong> by <%= book.author %> (ISBN: <%= book.isbn %>)
      </div>
      <%= button_to 'Return', return_book_book_path(book), method: :post, class: 'return-btn' %>
    </div>
  <% end %>
</div>

